php_flag display_errors "1"
php_flag short_open_tag "1"

# public folder can't be executed
<FilesMatch "^public\/*">
	Allow from all
	php_flag engine off
	AddType text/plain .html .htm .shtml .php .php3 .phtml .phtm .pl .py .cgi
</FilesMatch>

RewriteEngine On

# if a file exists in public, go there
RewriteCond %{DOCUMENT_ROOT}/public/%{REQUEST_URI} -f
RewriteRule ^ public/%{REQUEST_URI} [L]

RewriteCond %{REQUEST_URI} ^/public/
RewriteRule ^(.*)$ - [S=1]

RewriteRule ^(.*)$ index.php [L]
