
html, body {
    width:100%;
    height:100%;
    display:block;
    padding:0px;
    margin:0px;
    background-color:#dddddd;
    background-image:url('/img/bg.jpg');

}

.search-hidden {
    display:none;
}
.stage {
    padding:5px;
    color:#fff;
}

.smartdefault {
    color:#aaa;
    font-style:italic;
}

.header {
    background-color:#333;
    display:block;
    height:62px;
    border-top:4px solid #68C4FF;
    background:#333 linear-gradient(#555, #333);

    padding:10px;
}

.header .title {
    display:block;
    font-size:30px;
    font-family: 'Trade Winds', cursive;
    text-shadow:2px 2px 5px #333;
    -webkit-transform:rotate(355deg);
    width:400px;
    margin-top:0px;
    color:#fff;
    text-decoration:none;
}

.header .title:hover {
    -webkit-animation:pulsate 1s ease-out;
    -webkit-animation-iteration-count:infinite;
}

.content a {
    color:#549DCC;
    margin: 0;
    padding: 0;
    vertical-align: baseline;
}
.content a:hover {
    color:#68C4FF ;
    text-decoration: none;

}

h1 {
    color:#34627F;

    }


.nav {
    border-radius:3px;
    background:#333 linear-gradient(#555, #333);
    margin-bottom:5px;
    border-top: 1px solid #999;
    border-bottom: 2px solid #000;

}

.nav ul {
    margin:0px;
    padding:0px;
    list-style:none;
}

.nav li {
    margin:0px;
    padding:5px 10px;
    list-style:none;
    float:left;

    border-left:1px solid #111;
    border-right:1px solid #777;
}

.nav a {
    color:#fff;
}

.nav a:hover {
    color:#B5E2FF;
    }

.nav li:first-child {
    border-left:none;
}

.nav li:last-child {
    border-right:none;
    }

.nav input {
    display:block;
}

body{
    margin: 0 auto;
    font-family: Arial, sans-serif;
}


@-webkit-keyframes pulsate {
    0% { -webkit-transform: scale(0.95, 0.95), rotate(355deg); }
    50% { -webkit-transform: scale(1.05, 1.05) rotate(355deg); }
}

.panel {
    margin-bottom:5px;
    color:#222;
    border-top:1px solid #fff;
    border-bottom:1px solid #ccc;

    padding:10px;
    background:#f2f2f2;
    background: linear-gradient(to top, #ffffff 0%,#f7f7f7 100%);

}

.panel_image {
    float:left;
    padding-right:10px;
}

.panel_author {
    padding:5px;
    color:#5A717F;
    font-weight:bold;
    font-style:italic;
}

.panel_content {
    padding:5px;
}

.panel:first-child {
    border-radius: 3px 3px 0px 0px;
}

.panel:last-child{
    border-radius:0px 0px 3px 3px;
}

.panel:first-child:last-child {
    border-radius:3px;
}

.panel_title {
    font-weight:bold;
    border-bottom:1px solid #ccc;
    margin-bottom:5px;
}

.repo_url {
    font-style:italic;
    color:#ccc;
    font-size:15px;
    line-height:1.6em;
    transition:color 100ms;
}

.panel .repo_url:hover {
    color:#222;
}

.panel_date {
    float:right;
    font-size:12px;
}

.panel_date label {
    color:#ccc;
}

.panel_note {
    color:#ccc;
}

.panel_note:hover {
    color:#333;
}

.commit {
    overflow:hidden;
    font-size:13px;
margin:10px 0px;
    font-family:Courier, monospace;
}

ul.selection {
    margin:0px;
    padding:0px;
    list-style:none;
}

ul.selection li {
    margin:0px;
    padding:0px;
    list-style:none;
}

.categories li a {
    display:block;
}


.content {

}

.content .btn {
    margin:5px;

    min-width:50px;
    padding:8px;
    border:1px solid #bbb;
    font-style: normal;
    font-weight: bold;
    color:#444;
    cursor: pointer;
    text-decoration:none;

    border-radius: 3px;
    box-shadow:0px 0px 3px rgba(156, 156, 156, 0.6);
    background:linear-gradient(#fafafa,#dcdcdc);

    text-shadow:0px 1px 0px #fff;
}

.btn:hover, .btn:focus {

    color:#000;
    cursor:pointer;
    text-decoration: none;
    background: rgb(240,240,240);
    background:linear-gradient(#fafafa,#f0f0f0);
}

.btn:hover:active, .btn:focus:active {
    box-shadow:inset 0px 1px 3px rgba(0,0,0,0.3)
}

code {
    display:block;
    white-space: pre;
    padding:10px;
    background-color:#333;
    color:#fff;
    border-radius:3px;
    border-top:1px solid #000;
    border-bottom:1px solid #888;
}

table.file_list {
    width:100%;

}

table.file_list td {
    border-collapse:collapse;
    padding:2px 5px;
    margin:0px;
}

.clearing {
    clear:both;
    }

table.file_list tr:nth-child(2n+1) td {
    background-color:#eee;
}